.User-infor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}
.User-infor p {
  margin: 5px;
  /* show as  inline-block; */
}
